* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
[class*="col-"] {
    background-color: blue;
    border: 1px solid white;
    text-align: center;
    color: white;
    padding: 1em;
}

.bg-green {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}